<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.matrix.dao.IAcIncludeDomainDao">

	<resultMap id="BaseResultMap" type="com.matrix.pojo.entity.AcIncludeDomain">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="domain" property="domain" jdbcType="VARCHAR" />
		<result column="company_name" property="companyName" jdbcType="VARCHAR" />
		<result column="project" property="project" jdbcType="VARCHAR" />
		<result column="flag" property="flag" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="update_user_id" property="updateUserId" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="LONGVARCHAR" />
	</resultMap>

	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
			*
		from 
			apicenter.ac_include_domain
		where 
			id = #{id,jdbcType=INTEGER}
	</select>
	
	<!-- 分页数据 view extends entity-->
	<resultMap id="AcIncludeDomainView" type="com.matrix.pojo.view.AcIncludeDomainView"></resultMap>
	<select id="queryPageList" parameterType="com.matrix.pojo.entity.AcIncludeDomain" resultMap="AcIncludeDomainView">
		select 
			a.id as id,
			a.domain as domain,
			a.company_name as companyName,
			a.create_time as createTime,
			a.update_time as updateTime,
			a.update_user_id as updateUserId,
			i.user_name as updater 
		from 
			apicenter.ac_include_domain a left join managercenter.mc_user_info i on i.id = a.update_user_id 
		<where>
			a.flag = 1  
			<if test="domain != null and domain != ''  ">
				and a.domain = #{domain , jdbcType=VARCHAR}
			</if>
			<if test="companyName != null and companyName != ''  ">
				and a.company_name like CONCAT('%' , '${companyName}' , '%' )
			</if> 
			order by a.id asc
		</where>
	</select>
	
	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from apicenter.ac_include_domain where id = #{id,jdbcType=INTEGER}
	</delete>
	
	
	<insert id="insertSelective" parameterType="com.matrix.pojo.entity.AcIncludeDomain">
		insert into apicenter.ac_include_domain
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="domain != null">
				domain,
			</if>
			<if test="companyName != null">
				company_name,
			</if>
			<if test="project != null">
				project,
			</if>
			<if test="flag != null">
				flag,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createUserId != null">
				create_user_id,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="updateUserId != null">
				update_user_id,
			</if>
			<if test="remark != null">
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="domain != null">
				#{domain,jdbcType=VARCHAR},
			</if>
			<if test="companyName != null">
				#{companyName,jdbcType=VARCHAR},
			</if>
			<if test="project != null">
				#{project,jdbcType=VARCHAR},
			</if>
			<if test="flag != null">
				#{flag,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUserId != null">
				#{createUserId,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserId != null">
				#{updateUserId,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	
	<update id="updateSelective" parameterType="com.matrix.pojo.entity.AcIncludeDomain">
		update apicenter.ac_include_domain
		<set>
			<if test="domain != null">
				domain = #{domain,jdbcType=VARCHAR},
			</if>
			<if test="companyName != null">
				company_name = #{companyName,jdbcType=VARCHAR},
			</if>
			<if test="project != null">
				project = #{project,jdbcType=VARCHAR},
			</if>
			<if test="flag != null">
				flag = #{flag,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUserId != null">
				create_user_id = #{createUserId,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserId != null">
				update_user_id = #{updateUserId,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
</mapper>


















